<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
</head >

<body ng-controller="mainCtrl">
<div>
    <header>TaskEasy Candidate Test</header>
    <main>
        <table class="main-table">
            <tr class="rotate" ng-repeat="movie in movies" ng-click="alertData(movie)" >
                <td ng-class="{bold: $index === 0}">{{movie.year}}</td>
                <td ng-class="{bold: $index === 0}">{{movie.actress}}</td>
                <td ng-class="{bold: $index === 0}">{{movie.title}}</td>
            </tr>
        </table>
    </main>
</div>
<script src="./webjars/angularjs/1.6.6/angular.min.js"></script>
<script src="app/app.js"></script>
<script src="controllers/mainCtrl.js"></script>
<script src="services/requestService.js"></script>
</body>
</html>